:root {
    --color1roxo: #6805F2;
    --color2roxo: #7630D9;
    --color3limao: #93F205;
    --color4verde: #558C03;
    --color5preto: #0D0D0D;
    --color6background: #121214;
    --color7gray: rgba(105, 105, 105, 0.2);
}

.grid {
    display: grid;
}

.grid-template-areas-1 {
    grid-template-areas:
        "itemlogoteam itemlocal itemlocal itemstadium"
        "itemlogoteam itemcountplayers itemaverage itemedit";
}

.itemstadium {
    grid-area: itemstadium;
}

.itemlocal {
    grid-area: itemlocal;
}

.itemlogoteam {
    grid-area: itemlogoteam;
}

.itemaverage {
    grid-area: itemaverage;
}

.itemedit {
    grid-area: itemedit;
}

.itemcountplayers {
    grid-area: itemcountplayers;
}


html {
  font-size: 14px;
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz com que a cor do link seja a mesma do texto ao redor */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.table {
    border: none;
}

table td, th {
    border: none;
}

table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.custom-navbar {
    background-color: #6A057F;
}

.border-dark {
    border-radius: 10px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem black, 0 0 0 0.25rem #258cfb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: var(--color3limao);
    -webkit-box-shadow: 0 0 0px 1000px var(--color5preto) inset;
}

html {
  position: relative;
  min-height: 100%;
}

.logoedit {
    display: inline-block;
    font-family: 'Days One', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    background: linear-gradient(to right, var(--color3limao) 37%, azure 37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: var(--color6background);
    font-family: 'Open Sans', sans-serif;
}

.navbar-custom {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--color5preto) !important;
}

.navbar-brand {
    color:var(--color3limao);
}

.searchIco {
    color: azure;
    border-radius: 0px 10px 10px 0px;
    border-width: 0.5px;
    border-color: azure;
    border-style: solid;
    background-color: #0d1117;
    opacity: 70%;
}

.searchBar {
    border-radius: 10px 0px 0px 10px !important;
    border-radius: 0px 10px 10px 0px;
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    background-color: #222122;
    color: azure;
    opacity: 90%;
}

.searchBar:hover {
    border-color: var(--color3limao);
}

.searchIco:focus, .searchIco:hover {
    color: var(--color3limao);
    border-radius: 0px 10px 10px 0px;
    border-width: 1px;
    border-color: var(--color3limao);
    border-style: solid;
}

.searchBar:focus, .searchBar:active, .searchBar:visited {
    border-radius: 10px 0px 0px 10px !important;
    border-radius: 0px 10px 10px 0px;
    border-width: 1px;
    border-color: var(--color3limao);
    border-style: solid;
    background-color: var(--color5preto);
    outline: none !important;
    color: var(--color3limao);
    box-shadow: 0 0 0 0;
}

.fa-search:hover, select:focus, .fa-search:focus {
    color:var(--color3limao) !important;
}

.btn-primary {
    color: azure;
    background-color: var(--color6background);
    border-color: azure;
}

.btn-primary:hover {
    color: var(--color1roxo);
    background-color: var(--color6background);
    border-color: var(--color1roxo);
}

.btn-danger {
    color: red;
    background-color: #0d1117;
}

.logo-teams {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.dropdown-menu {
    background-color: #09090a; 
    box-shadow: -1px 3px 31px 11px rgba(255,205,205,0.02);
    border-radius:10px;
}

.team-logo {
    width: 100px;
    height: 100px;
}

.list {
    display: flex;
    flex-direction:column; /* Muda a direção para horizontal */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço suficiente */
}

.list-item {
    padding: 10px;
}

.form-group input[type="range"] {
    width: 70%; /* Adjust as needed */
    margin-right: 10px;
    height: 25px;
    background-color: #0d1117;
    outline: none;
    transition: opacity .2s;
    border-radius: 12px; /* Rounded borders */
}

.form-group input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background-color:darkorchid;
    cursor: pointer;
    appearance:auto;
    border-radius: 50%; /* Circular slider thumb */
}

.form-hor {
    display: flex;
    align-items: center;
}

.loginbutton {
    background-color:var(--color2roxo); width:100%; border-style:hidden;
}

    .loginbutton:hover {
        background-color: var(--color1roxo);
        box-shadow: 3px 3px 5px 0px var(--color5preto);
    }

.bgdetails {
    background-color: var(--color7gray);
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px 3px 31px 31px rgba(255,255,255,0.02);
}

.footer {
    margin-top:50px !important;
    background-color:var(--color5preto);
    opacity:0.5
}