:root {
    --color1roxo: #6805F2;
    --color2roxo: #7630D9;
    --color3limao: #93F205;
    --color4verde: #558C03;
    --color5preto: #0D0D0D;
    --color7gray: rgba(105, 105, 105, 0.2);
}

.scoreboard {
    background-color: rgba(105, 105, 105, 0.2);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    padding: 3px;
    text-align: center;
}

.grid {
    display: grid;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.grid-template-areas-1 {
    grid-template-areas:
        "itemlogoteam itemlocal itemlocal itemstadium"
        "itemlogoteam itemcountplayers itemaverage itemedit";
}

.itemstadium {
    grid-area: itemstadium;
}

.itemlocal {
    grid-area: itemlocal;
}

.itemlogoteam {
    grid-area: itemlogoteam;
}

.itemaverage {
    grid-area: itemaverage;
}

.itemedit {
    grid-area: itemedit;
}

.itemcountplayers {
    grid-area: itemcountplayers;
}


html {
  font-size: 14px;
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz com que a cor do link seja a mesma do texto ao redor */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.table {
    border: none;
}

table td, th {
    border: none;
}

table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.custom-navbar {
    background-color: #6A057F;
}

.border-dark {
    border-radius: 10px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem black, 0 0 0 0.25rem #258cfb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: var(--color3limao);
    -webkit-box-shadow: 0 0 0px 1000px var(--color5preto) inset;
}

html {
  position: relative;
  min-height: 100%;
}

.logoedit {
    display: inline-block;
    font-family: 'Days One', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    background: linear-gradient(to right, var(--color3limao) 37%, azure 37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-image: linear-gradient(135deg, #121214 0%, #0D0D0D 60%, #121214 80%);
    font-family: 'Open Sans', sans-serif;
}

input {
    background-color: var(--color7gray);
}

.navbar-custom {
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--color5preto) !important;
}

.navbar-brand {
    color:var(--color3limao);
}

.searchIco {
    color: azure;
    border-radius: 0px 1rem 1rem 0px;
    border-width: 0.5px;
    border-color: azure;
    border-style: solid;
    background-color: #0d1117;
    opacity: 70%;
}

.searchBar {
    border-radius: 1rem 0px 0px 1rem !important;
    border-width: 0.5px;
    border-color: azure;
    border-style: solid;
    background-color: #222122;
    color: azure;
    opacity: 90%;
}

.searchBar:hover {
    border-color: var(--color3limao);
}

.searchIco:focus, .searchIco:hover {
    color: var(--color3limao);
    border-radius: 0px 1rem 1rem 0px;
    border-width: 1px;
    border-color: var(--color3limao);
    border-style: solid;
}

.searchBar:focus, .searchBar:active, .searchBar:visited {
    border-radius: 1rem 0px 0px 1rem !important;
    border-width: 1px;
    border-color: var(--color3limao);
    border-style: solid;
    background-color: var(--color5preto);
    outline: none !important;
    color: var(--color3limao);
    box-shadow: 0 0 0 0;
}

.fa-search:hover, select:focus, .fa-search:focus {
    color:var(--color3limao) !important;
}

.btn-primary {
    color: azure;
    background-color: var(--color7gray);
    border-color: azure;
}

.btn-primary:hover {
    color: var(--color1roxo);
    background-color: var(--color7gray);
    border-color: var(--color1roxo);
}

.btn-danger {
    color: red;
    background-color: #0d1117;
}

.logo-teams {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.dropdown-menu {
    background-color: #09090a; 
    box-shadow: -1px 3px 31px 11px rgba(255,205,205,0.02);
    border-radius:10px;
}

.team-logo {
    width: 100px;
    height: 100px;
}

.list {
    display: flex;
    flex-direction:column; /* Muda a direção para horizontal */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço suficiente */
}

.list-item {
    padding: 10px;
}

.form-group input[type="range"] {
    width: 70%; /* Adjust as needed */
    margin-right: 10px;
    height: 25px;
    background-color: #0d1117;
    outline: none;
    transition: opacity .2s;
    border-radius: 12px; /* Rounded borders */
}

.form-group input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background-color:darkorchid;
    cursor: pointer;
    appearance:auto;
    border-radius: 50%; /* Circular slider thumb */
}

.form-hor {
    display: flex;
    align-items: center;
}

.bgdetails {
    background-color: var(--color7gray);
    padding: 30px;
    box-shadow: -1px 3px 31px 31px rgba(255,255,255,0.02);
    border-radius: 16px;
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 0.2px solid rgba(255, 255, 255, 0.48);
}

.footer {
    margin-top:50px !important;
    background-color:var(--color5preto);
    opacity:0.5
}

.modal-content {
    background-color: var(--color7gray);
    color:azure;
    border-radius:20px;
    padding:35px;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Preto com 50% de transparência */
}

.searchModal {
    margin-bottom:-58px;
    margin-left:-17px;
    padding:10px;
    position:inherit;
}

.control-label{
    font-size:12px;
}

.time_match {
    color: rgba(105, 105, 105);
    margin-bottom:2px;
    font-size: 13px;
}

.loginbutton {
    width: 100%;
    height: 2.4rem;
    cursor: pointer;
    position: relative;
    padding: 0.1rem 3.8rem 0.1rem 3.8rem;
    border-radius: 1rem;
    font-weight: 400;
    border: 0px solid #012880;
    background-image: linear-gradient(-180deg, var(--color3limao) 0%, var(--color4verde) 100%);
    box-shadow: 0 0.2rem 1.0rem 0 rgba(50,205,50,0.50), 0 -0.25rem 1.5rem rgba(50,205,50, 1) inset, 0 0.75rem 0.5rem rgba(50,205,50, 0.4) inset, 0 0.25rem 0.5rem 0 rgba(50,205,50, 1) inset;
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    transition: background-image 2.6s linear;
}

.loginbutton:hover {
    background-image: linear-gradient(-180deg, var(--color7gray) 0%, var(--color7gray) 100%);
}

.loginbutton span {
    color: azure;
}

.loginbutton::before {
    content: "";
    display: block;
    height: 0.20rem;
    position: absolute;
    top: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 5.5rem);
    background: #fff;
    border-radius: 100%;
    opacity: 0.7;
    background-image: linear-gradient(-270deg, rgba(50,205,50,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.buttonLog {
    margin-left: 10px;
    width: 2rem;
    height: 2.4rem;
    cursor: pointer;
    position: relative;
    padding: 0.1rem 3.8rem 0.1rem 3.8rem;
    border-radius: 1rem;
    font-weight: 400;
    border: 0px solid #012880;
    background-image: linear-gradient(-180deg, var(--color3limao) 0%, var(--color4verde) 100%);
    box-shadow: 0 0.2rem 1.0rem 0 rgba(50,205,50,0.50), 0 -0.25rem 1.5rem rgba(50,205,50, 1) inset, 0 0.75rem 0.5rem rgba(50,205,50, 0.4) inset, 0 0.25rem 0.5rem 0 rgba(50,205,50, 1) inset;
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    transition: background-image 2.6s linear;
}

.buttonLog:hover
{
    background-image: linear-gradient(-180deg, #556B2F 0%, #556B2F 100%);
}

.buttonLog span {
    margin-left:-2.6rem;
    color:azure;
}

.buttonLog::before {
    content: "";
    display: block;
    height: 0.20rem;
    position: absolute;
    top: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 5.5rem);
    background: #fff;
    border-radius: 100%;
    opacity: 0.7;
    background-image: linear-gradient(-270deg, rgba(50,205,50,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.buttonLog::after {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;
    filter: blur(1px);
    opacity: 0.05;
    background-image: linear-gradient(-270deg, var(--color3limao) 0%, #FFFFFF 20%, #FFFFFF 80%, var(--color3limao 100%);
}

.nav-container {
    width:500px !important;
    margin-left:17px;
    background-color:transparent
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.searchBar, .searchIco {
    height: 40px; /* Ajuste este valor conforme necessário */
}