@model GoalGetters.Models.Player

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edição de Jogador";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>


    <h4 class="text-white" style="font-weight: bold !important;">Player</h4>
<hr />
    <div class="row text-white">
        <div class="col-md-4">
            <form asp-action="EditPlayer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="entity" value="player" />
                <input type="hidden" name="id" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                    @Html.DisplayFor(model => model.Id)
            </div>
            <div class="form-group">
                <label asp-for="IdTeam" class="control-label"></label>
                    <input asp-for="IdTeam" class="form-control" required />
                <span asp-validation-for="IdTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" required />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                    @Html.DropDownList("Country", ViewBag.CountryList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth" class="control-label"></label>
                    <input asp-for="Birth" type="date" class="form-control" required />
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <div class=" form-hor">
                    <input asp-for="Height" type="range" min="1.50" max="2.10" step="0.01" id="heightRange" oninput="updateHeightValue(this.value)" class="form-control" required/>
                    <span id="heightValue"></span> m
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="Position" asp-items="Html.GetEnumSelectList<GoalGetters.Helper.Enums.Position>()" class="form-control" required></select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
                <div class="form-group mt-3 mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="Index" asp-route-searchName="@{Context.Session.GetString("SearchName");}">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
