@model GoalGetters.Models.SearchViewModel
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Resultado da busca";
}

@{
    var username = Context.Session.GetString("User");
}

 @if (username == "Admin")
{
    <p>
        <a asp-action="CreatePlayer" class="btn btn-primary">Adicionar Jogador</a>
        <a asp-action="CreateTeam" class="btn btn-primary">Adicionar Time</a>
    </p>
}

@if (Model != null)
{
    @if (Model.Players != null)
    {
        @if (Model.Players.Count > 0)
        {
            <div style="Margin-bottom:20px">
                <h2 class="text-white">Jogadores</h2>
                <div class="container text-white bgdetails" style="border: 0.5px solid">
                    @Html.Partial("PlayerPartial", Model.Players)
                </div>
            </div>
        }
    }

    @if (Model.Teams != null)
    {
        @if (Model.Teams.Count > 0)
        {
            <div style="Margin-bottom:90px">
                <h2 class="text-white">Times</h2>
                <div class="container text-white bgdetails">
                    @Html.Partial("TeamPartial", Model.Teams)
                </div>
            </div>
        }
    }

    @if (Model.Teams == null && Model.Players == null)
    {
            <h4 class="text-white">Nenhum registro encontrado</h4>
    }
}